@import url('https://fonts.googleapis.com/css2?family=Lora&family=Shippori+Antique+B1&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main__color {
  color: #fe82b2;
}

body {
  font-family: 'Lora', serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
}

.page-fluid {
  max-width: 1366px;
  padding: 0;
}

.header {
  width: 100%;
}

.header__sub {
  background-color: #fe82b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 40px;
  color: #fff;
}

.header__sub-title {
  font-size: 17px;
}

.header__main {
  background-color: #ffeeff;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.header__search {
  position: relative;
}

.header__input {
  width: 490px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #fecccb;
  padding-left: 60px;
}

.header__input::placeholder {
  color: #000;
  font-style: italic;
}

.header-btn-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  top: 0;
  right: 0;
}

.header__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__img-sub {
  font-size: 18px;
}

.header__nav {
  height: 50px;
  background-color: #fe82b2;
  padding: 0 60px;
  font-weight: bold;
  color: #fff;
}

.header__nav ul{
  height: 100%;
  align-items: center;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
}

/* ==========================end header============================ */

.main__form-input {
  padding-left: 80px;
}
.main__sub {
  padding: 10px 50px;
  line-height: 1.5rem;
  align-items: center;
  margin-bottom: 45px;
  max-width: 480px;
}

.main__sub p {
  margin: 0;
}

.main__sub span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}

.details-page {
  padding: 0 82px;
}

.form-method {
  font-size: 18px;
}

.form-method ul {
  list-style: none;
  margin-left: 38px;
}

.form-method li {
  height: 20px;
}

.form-method li:not(:last-child) {
  margin-bottom: 14px;
}

.form-method label {
  font-size: 22px;
}

.form-method input[type="radio"] {
  margin-right: 5px;
}

.form-title{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 34px;
  align-self: flex-start;
}
.form-input{
  width: 446px;
  position: relative;
}
.form-input-text{
  width: 100%;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 0 10px 10px;
}
.form-input-btn{
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 175px;
  background-color: #ff82b3;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 0;
}
.form-btn{
  height: 50px;
  width: 448px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 50px;
  border: 1px solid #3b3b3b;
  background-color:#ff82b3;
}

.card__group {
  width: 350px;
  margin-left: 60px;
  border: 0;
}
.card-body {
  padding: 0;
}
.card__group h4 {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.card__group .card-text {
  font-size: 20px;
  margin-bottom: 5px;
  font-style: italic;
  color: #bebebe;
  word-spacing: 5px;
}

.card__content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.card__content-sub {
  font-size: 16px;
}
.card__content-price {
  font-size: 18px;
  font-weight: bold;
}

.card__content-img {
  height: 80px;
  width: 80px;
  border: 0;
  object-fit: cover;
}

.form-table {
  padding: 15px 0 0 0;
  width: 350px;
}
.form-table-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-table-group p {
  font-size: 20px;
}

.form-table-group p:not(:last-child) {
  margin-bottom: 10px;
}


/* .form-table-title{
  font-weight: bold;
} */

.form-table-price {
  text-align: end;
  font-weight: bold;
}

.form-table-price-color {
  color: #ff82b3;
}

.details__info {
  padding-left: 100px;
}

.address{
  width: 500px;
  height: 142px;
  background-color: #E2E1E1;
  padding-left: 5px;
}
.address-title{
  font-size: 22px;
}
.address-name{
  font-size: 20px;
}
.address-description{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
}
.address-phone{
  font-size: 20px;
}


/* ==============================start fooder=========================== */
footer {
  height: 262px;
  background-color: #ff99cb;
  margin-top: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -360px;
  width: 100%;
}

.footer-list h4 {
  font-weight: bold;
  font-size: 16px;
}

.footer-list p {
  font-size: 13px;
  max-width: 80%;
  margin-top: 20px;
}

.footer-list ul {
  list-style: none;
}

.fooder__connect i {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}

.fooder__connect span {
  font-size: 10px;
  line-height: 25px;
}
/* ==============================end fooder=========================== */