@import url('https://fonts.googleapis.com/css2?family=Lora&family=Shippori+Antique+B1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
  
    overflow: scroll;
}
.pages{
    width: 1366px;
    margin: 0 auto;
}
.header {
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__sub {
    background-color: #fe82b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 40px;
    color: #fff;
}

.header__sub-title {
    font-size: 17px;
}

.header__main {
    background-color: #ffeeff;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.header__main-logo{
    width: 100px;
    height: 100px;
  }
  .header__main-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.header__search{
    width: 40%;
 }
 .header__search button{
   background-color: #fecccb;
  }
 .header__input {
   background-color: #fecccb;
   border: none;
 }

.header__input::placeholder {
    margin-left: 20px;
}

.header-btn-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fecccb;
    border: 1px solid rgb(0, 0, 0);
    border-left-width: 0;
    margin-left:-40px;
}

.header__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__img img{
    width: 127px;
    height: 85px;
    object-fit: cover;
}
.header__img-sub {
    font-size: 18px;
}
  
.header__nav {
    height: 40px;
    background-color: #fe82b2;
    padding: 0 40px;
    font-weight: bold;
    color: #fff;
  } 
  .header__nav a {
    color: #fff;
    text-decoration: none;
  }
.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 40px;
    color: #fff;
    list-style: none;
    font-weight: bold;
}
.banner{
    height: 454px;
}
.banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.image-category{
    height: 580px;
}
.image-category img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.shop{
 margin-top: 20px;
}


.shop__list-2{
    margin-top: 40px;
    
}

.shop__title{
    margin-top: 48px;
}
.shop__list-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.shop__list-4 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


 .shop-item{
    height: 272px;
}
.shop-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.banner1 {
    margin-top: 40px;
}
.banner1 .img-footer{
    width: 794px;
    height: 430px;
    object-fit: cover;
}
.banner1 .img-footer1{
    width: 568px;
    height: 430px;
    object-fit: cover;
}
footer {
    height: 262px;
    background-color: #ff99cb;
    margin-top: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.image-new{
    height: 430px;
}
.footer-list {
    width: 25%;
}

.footer-list h4 {
    font-weight: bold;
    font-size: 16px;
}

.footer-list p {
    font-size: 13px;
    max-width: 80%;
    margin-top: 20px;
}

.connert {
    list-style: none;
    margin-top: 20px;
}

.connerct-item i {
    margin-right: 10px;
    font-size: 20px;
}

.connerct-item span {
    font-size: 13px;
}